<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{incomingProjectName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row *ngFor="let imagecategory of list">
          <ion-col>
            <ion-card id="category">
              <!-- <img src="assets/bird.jpg" /> -->
              <ion-card-header>
                <ion-card-title>wok</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/plant.jpg" alt="Random first slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <!-- <h3>First slide label</h3> -->
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/plant.jpg" alt="Random second slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card id="category">
              <!-- <img src="assets/bird.jpg" /> -->
              <ion-card-header>
                <ion-card-title>wok</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/plant.jpg" alt="Random first slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <!-- <h3>First slide label</h3> -->
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="assets/plant.jpg" alt="Random second slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="images[2]" alt="Random third slide" id="plantimg">
                    </div>
                    <div class="carousel-caption">
                      <ion-button (click)="removeImg()" shape="round">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-button>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-card id="side">
              <!-- <img src="assets/bird.jpg" /> -->
              <ion-card-header>
                <ion-card-title>wok</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                workwork
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
