<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let projectType of projectTypes; let i = index">
        <ion-card [id]="projectType.class" (click)='typeClick(i)'>
          <img [src]="projectType.image" />
          <ion-card-header>
            <ion-card-title>{{projectType.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{projectType.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">project name</ion-label>
      <ion-input [(ngModel)]="projectNameValue" name="projectName" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="goToCreateProject()" type="submit" color="light" expand="block">CREATE</ion-button>
        <i-text *ngIf="projectNotNamed"></i-text>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
