:root {
  --ion-color-primary: #47d499;
  --ion-color-secondary: #2da694;
  --ion-color-tertiary: #7af3bc;
  --ion-color-secondary-rgb: rgb(39, 182, 139);
  --ion-color-secondary-contrast: #28c294;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #72e96e;
  --ion-color-secondary-tint: #04cf15;
}

ion-menu ion-content {
  position:absolute;
  top: 40%;
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
ion-list{
  height: 50%;
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
}

.split-pane-visible > ion-menu {
  max-width: 1%!important;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/*
 * Material Design Menu
*/
ion-menu.md ion-list {
  padding: 0px 0;
}

ion-menu.md ion-item {
  --padding-start: 18px;

  margin-right: 0px;

  border-radius: 0 0px 0px 0;

  font-weight: 500;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-list-header,
ion-menu.md ion-item ion-icon {
  color: var(--ion-color-step-650, #5f6368);
}

ion-menu.md ion-list:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}


/*
 * iOS Menu
*/

ion-menu.ios ion-list-header {
  padding-left: 0px;
  padding-right: 0px;

  margin-bottom: 0px;
}

ion-menu.ios ion-list {
  padding: 0px 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
