#pagetitle {
  text-align: center;

  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

#pagetitle strong {
  font-size: 20px;
  line-height: 26px;
}

#pagetitle p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#pagetitle a {
  text-decoration: none;
}
